<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="monturf.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <!-- Bootstrap javascript  (utile pour la modal) --> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>

    <!-- Angular ui - bootstrap -->
    <script src="./vendor/ui-bootstrap-tpls-2.4.0.min.js"></script>

    <!-- D3.js -->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="./vendor/nv.d3.min.js"></script>
    <link rel="stylesheet" href="./vendor/nv.d3.css">

    <script src="./vendor/angular-nvd3.js"></script>
    <script src="./monturf.js"></script>
    <script src="./app-templates.js"></script>

    <script>

    </script>


</head>

<body class="" data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="myApp" ng-controller="appCtrl as appCtrl">

    <!-- Always shows a header, even in smaller screens. -->



    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Mon Turf</a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav" ng-if="appCtrl.connected">
                        <li><a href="#/programme">Programme</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">Titre à définir </p>
                    <ul class="nav navbar-right navbar-nav">
                        <li ng-if="!appCtrl.connected"><a href="#" data-toggle="modal" data-target="#login-modal">SigIn</a></li>
                        <li ng-if="appCtrl.connected"><a href="" ng-click="appCtrl.sigout()">SigOut</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username" ng-model="appCtrl.user">
					<input type="password" name="pass" placeholder="Password" ng-model="appCtrl.password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login" data-dismiss="modal" ng-click="appCtrl.sigin()">
				  </form>
					
				  <div class="login-help">
					<a href="#/" data-dismiss="modal">annuler</a> 
				  </div>
				</div>
			</div>
		  </div>
    <div ng-view class="container-fluid">

    </div>



</body>

</html>